services:

  nginx:
    image: webdevops/php-nginx-dev:8.4
    working_dir: /app
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./:/app
    links:
      - database
      - test_database
    environment:
      WEB_DOCUMENT_ROOT: /app/public
      WEB_DOCUMENT_INDEX: index.php
      XDEBUG_MAX_NESTING_LEVEL: 250
      XDEBUG_PROFILER_ENABLE: 0
      XDEBUG_START_WITH_REQUEST: 1
      XDEBUG_DISCOVER_CLIENT_HOST: 0
      XDEBUG_CLIENT_PORT: 9000
      XDEBUG_CLIENT_HOST: 172.16.57.1

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    ports:
        - "5432:5432"

  test_database:
        image: postgres:${POSTGRES_VERSION:-16}-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-app_test}
            # You should definitely change the password in production
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
            POSTGRES_USER: ${POSTGRES_USER:-app_test}
        healthcheck:
            test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app_test}", "-U", "${POSTGRES_USER:-app_test}" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - test_database_data:/var/lib/postgresql/data:rw
        ports:
            - "5433:5432"
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
  test_database_data:
###< doctrine/doctrine-bundle ###
